.metadata/

.recommenders/

*.index

*.snap

.metadata/.log

.metadata/.lock

*.properties

*.prefs

*.resources

*.fdt

*.lock

*.frq

*.zip

*.nrm

*.tis

*.prx

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2

*.xml

*.mark

*.swp

HelloWorldSwing/bin/HelloWorldSwing$1.class

*.class
